<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webshell</title>
    <style>
        #terminal{
            width: 650px;
            height: 450px;
            background: black;
            color:white;
            overflow-y: auto;
        }
        #insert{
            border:none;
            background: black;
            color:white;
            width: 500px;
        }
        #insert:focus{
            outline:none;
        }
    </style>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/bootstrap.min.js'></script>
    <script src='/static/js/reconnecting-websocket.min.js'></script>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
                <div id='terminal'>
                    <input id='insert'>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            var schema = window.location.protocol=='https:' ? 'wss:' : 'ws:';
            var host =  window.location.host;
            socket = new ReconnectingWebSocket(schema+"//"+ host+"/webshell/{{ id }}/");
            socket.onmessage = function(e){
                var msg = JSON.parse(e.data);
                $(msg.html).insertBefore('#insert');
                $('#terminal').scrollTop(10000000000);
            }
            socket.onopen = function() {
                socket.send(JSON.stringify({cmd:''}));
            }
            socket.onclose = function(){
                console.log('disconnected');
            }
            $('#insert').keydown(function(evt){
                var keynum = (evt.keyCode ? evt.keyCode : evt.which);
                if (keynum == 13 || keynum==10){
                    socket.send(JSON.stringify({cmd:$('#insert').val()+'\n'}));
                    $('#insert').val('');
                }
                else if (evt.ctrlKey && keynum>=65){
                    socket.send(JSON.stringify({cmd:$('#insert').val()+String.fromCharCode(keynum-64)}));
                    $('#insert').val('');
                    evt.preventDefault();
                }
                else if (keynum==9){
                    socket.send(JSON.stringify({cmd:$('#insert').val()+'\t'}));
                    $('#insert').val('');
                    evt.preventDefault();
                }
            });
        });
    </script>
</body>
</html>